.config/wezterm/colorscheme
.config/openai/setup.sh
.env
.opencommit
.opencommit.backup.local
.opencommit.backup.openai
.envrc
.withcontextignore
AGENTS.md
.config/opencode/plugin/node_modules
.config/opencode/plugin/package-lock.json
