.config/wezterm/colorscheme
.config/openai/setup.sh
.env
.opencommit
.opencommit.backup.local
.opencommit.backup.openai
.envrc
.withcontextignore
AGENTS.md
!.config/ai/AGENTS.md
.config/opencode/plugin/node_modules
.config/opencode/plugin/package-lock.json
/.omc/*
!/.omc/skills/
.DS_Store
.config/zed/prompts/
